<%-include('partials/header.ejs')%>
<main>
    <% if(username){ %>
        <form class="container" action="/acc" method="post" enctype="multipart/form-data">
            <%if(avatar){ %>
                <img src="/uploads/<%= avatar %>" alt="avatar" srcset="" class="avatar">
                    <% } else { %>
                        <img src="https://www.meme-arsenal.com/memes/4cdee02fbf6649b4e2c7b597f9d4d143.jpg" alt="avatar" srcset="" class="avatar">
                    <%}%>
            <div class="label">
            <label >Avatar</label>
            <input type="file" name="avatar" id="avatar" accept="image/*" style="color: white">
            <label >Username</label>
            <input type="text" name="username" value="<%= username %>">
            <label >Email</label>
            <input type="text" name="email" value="<%= email %>">
            <label >FirstName</label>
            <input type="text" name="firstName" value="<%= firstName %>">
            <label >LastName</label>
            <input type="text" name="lastName" value="<%= lastName %>">
            <label >Password</label>
            <div>
                <input class="password" type="password" name="password" value="<%= password %>">
                <input type="checkbox" onclick="showPassword()" style="width: 30px;">
            </div>
            </div>
                <button id="#updatebtn" type="update" formmethod="post" formaction="/update">Оновити дані</button>
               </div>
         </form>
    </form>
    <% }%>   
</main>
<%-include('partials/footer.ejs')%>
</body>
</html>
