<%-include('partials/header.ejs')%>
<main class="friendlist">
    <div class="friends">
        <h1>Ваші друзі:</h1>
        <%if(friendList[0] != null){ %>
        <div class="friendshave">
            <% for (let i = 0; i < friendList.length; i++) { %>
                <div class="friend">
                    <%if(friendList[i].avatar){ %>
                        <img onclick="location.href='/getUserPosts/<%= userposts[i].iduser %>'" src="/uploads/<%= friendList[i].avatar %>" alt="avatar" srcset="" class="avatar">
                        <% }else {%>
                    <img onclick="location.href='/getUserPosts/<%= userposts[i].iduser %>'" src="https://www.meme-arsenal.com/memes/4cdee02fbf6649b4e2c7b597f9d4d143.jpg" alt="avatar" srcset="" class="avatar">
                    <%} %>
                    <h3><%= friendList[i].username %></h3>
                </div>
            <% } %>
        </div>
        <% }else {%>
            <h2 style="text-align: center;">Друзів немає</h2>
        <%} %>
    </div>
    <div class="findfriend">
        <form class="container" action="/find" method="post">
        <label name="friend">Знайти друга:</label>
            <input type="text" name="username">
            <button type="find">Пошук</button>
            <%if(findFriend != null){%>
                <div class="friend">
                    <%if(findFriend.avatar){ %>
                        <img onclick="location.href='/getUserPosts/<%= userposts[i].iduser %>'" src="/uploads/<%= findFriend.avatar %>" alt="avatar" srcset="" class="avatar">
                        <% }else {%>
                    <img onclick="location.href='/getUserPosts/<%= userposts[i].iduser %>'" src="https://www.meme-arsenal.com/memes/4cdee02fbf6649b4e2c7b597f9d4d143.jpg" alt="avatar" srcset="" class="avatar">
                    <%} %>
                    <h3><%= findFriend.username %></h3>
                </div>
                <button id="#addbtn" type="addFriend" formmethod="post" formaction="/addFriend">Додати у друзі</button>
            <% } else {%>
                <h2>Користувача не знайдено</h2>
            <% } %>
        </form>
    </div>
</main>
<%-include('partials/footer.ejs')%>
</body>
</html>
