<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <title>RJS</title>
  </head>
  <body class = "ribbonBody">
      <% for (let i = 0; i < allUsersPosts.length; i++) { %>
      <div class="post">
        <div class="user">
          <%if(allUsersPosts[i].avatar){ %>
            <img onclick="location.href='/getUserPosts/<%= allUsersPosts[i].iduser %>'" src="/uploads/<%= allUsersPosts[i].avatar %>" alt="avatar" srcset="" class="avatar">
            <% }else {%>
              <img onclick="location.href='/getUserPosts/<%= allUsersPosts[i].iduser %>'" src="https://www.meme-arsenal.com/memes/4cdee02fbf6649b4e2c7b597f9d4d143.jpg" alt="avatar" srcset="" class="avatar">
              <%} %><%= allUsersPosts[i].username %>
        </div>
        <div class="text">
            <h1><%= allUsersPosts[i].title %></h1>
        <%= allUsersPosts[i].posttext %>
    </div class="time">
        <%= new Date(allUsersPosts[i].date).toISOString().split('T')[0] %>
      </div>
    </div>
      <% } %>
  </body>
</html>
